<!doctype html>
<html ng-app="app3" ng-cloak>
  <head>
    <meta charset="utf-8">
    <title>AngularJS Tutorial 3</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.min.js"></script>
    <style >
      [ng\:cloak], [ng-cloak], .ng-cloak {
        display:none;
      }
      .bluetext{
        color.blue;
      }
      .boldtest {
        font-weight: bold;
      }
      .stripedblue{
        color:#007FFF;
        background-color:#DBE9F4;
      }
      .stripedbeige{
        color:#CC0000;
        background-color:#F5F5DC;
      }
    </style>
  </head>
  <body>
    <h1>Angular JS tutorial (Derek Banas)</h1>
    <div >
      <div ng-controller="gCtrl";
          <h3>Grocery List 123</h3>
            <div ng-include="'groceries2.html'"> </div>

                  <h5>abcd</h5>
                    <label >
                      <input type="checkbox" ng-model="showList">
                        Show Unordered list
                    </label>
                  <ng-include src="getList()"></ng-include>

            </div>

            <label for="">Type a Number(1-4):
              <input type="text" ng-model="someNumber" name="" value="">
            </label>
            <div ng-switch="someNumber">
              <p ng-switch-when="1">You Entered 1</p>
              <p ng-switch-when="2">You Entered 2</p>
              <p ng-switch-when="3">You Entered 3</p>
              <p ng-switch-when="4">You Entered 4</p>
              <p ng-switch-default="1">Not Following Directions </p>

            </div>
          <h2>Other controllers. </h2>
          <h4 ng-controller="ctrl1">First Random Number : {{randomNum1}}</h4>
          <h4 ng-controller="ctrl1">Second Random Number : {{randomNum2}}</h4>
      </div>




    <script src="js/exam3.js" type="text/javascript"></script>
    <script src="js/exam2.js" type="text/javascript"></script>
  </body>
</html>
